.registration input,
.login input {
  border-bottom: 1px solid #e7e7e7 !important;
  padding-left: 0;
  border-radius: 0; }
  .registration input:hover,
  .login input:hover {
    border-color: black !important; }

.calendar input[value='<'],
.calendar input[value='>'] {
  font-size: 2rem; }

.calendar input[name='event'] {
  border-bottom: 1px solid #e7e7e7 !important;
  padding-left: 0;
  border-radius: 0; }
  .calendar input[name='event']:hover {
    border-color: black !important; }

.td {
  height: 5rem;
  width: 4rem !important;
  position: relative; }

.bg-lightBlue {
  background-color: rgba(255, 193, 8, 0.5); }

.week-span {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  left: 36%;
  font-size: .8rem;
  color: white; }
