.registration input,
.login input {
  border-bottom: 1px solid #e7e7e7 !important;
  padding-left: 0;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0; }
  .registration input:hover, .registration input:focus,
  .login input:hover,
  .login input:focus {
    border-color: black !important;
    box-shadow: none !important; }

.calendar .arrow {
  font-size: 2rem; }

.calendar input[name='event'],
.calendar input[name='_edit'] {
  border-bottom: 1px solid #e7e7e7 !important;
  padding-left: 0;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0; }
  .calendar input[name='event']:hover, .calendar input[name='event']:focus,
  .calendar input[name='_edit']:hover,
  .calendar input[name='_edit']:focus {
    border-color: black !important;
    box-shadow: none !important; }

.td {
  height: 5rem;
  width: 4rem !important;
  position: relative; }

.week-span {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  left: 36%;
  font-size: .8rem;
  color: white; }

.completed {
  text-decoration: line-through;
  color: #dc3746; }

.bg-clear {
  background-color: transparent; }

p {
  padding: 7px 0 7px; }

button {
  cursor: pointer; }
  button:focus {
    box-shadow: none !important; }

@media only screen and (max-width: 472px) {
  .month-data {
    width: 100% !important;
    margin-top: 12px; } }

@media only screen and (min-width: 473px) {
  .month-data {
    width: 75% !important; } }

html,
body {
  height: 100%; }

#root {
  height: 100%; }

.homepage {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("https://static.pexels.com/photos/273011/pexels-photo-273011.jpeg") center/cover no-repeat fixed black; }
  .homepage div {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .homepage div h1 {
      color: white;
      margin-bottom: 1rem; }

.bg-transparent {
  background: transparent; }
