
.calendar {
  .arrow {
    font-size: 2rem;
  }
  input[name='event'],
  input[name='_edit'] {
    @include form-input;
  }
}

.max-width {
  max-width: 550px !important;
}

.table-shadow {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5) !important;
}

.td {
  height: 5rem;
  width: 4rem !important;
  position: relative;
}

// total number of events in week component
.week-span {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  left: 36%;
  font-size: .8rem;
  color: white;
}

.completed {
  text-decoration: line-through;
  color: #dc3746;
}

.bg-clear {
  background-color: transparent;
}

p {
  padding: 7px 0 7px;
}

button {
  cursor: pointer;
  &:focus {
    box-shadow: none !important;
  }
}

@media only screen and (max-width: 472px) {
  .month-data {
    width: 100% !important;
    margin-top: 12px;
  }
}
@media only screen and (min-width: 473px) {
  .month-data {
    width: 75% !important;
  }
}
