.contact {
  max-width: 630px !important;
  label {
    margin: .50rem;
  }
}

.contact-list {
  svg {
    margin: 0 0.5rem 0.3rem 0;
  }
}

.custom-select {
  margin: 0 .5rem 0 0 !important;
}

h4 {
  margin-top: 8px;
}

.list-item {
  display: block;
  padding: 0 !important;
}

.rounded-circle {
  height: 5rem;
  width: 5rem;
  color: white;
  text-align: center;
  font-size: 3.4rem;
  background-color: #037aff;
}

.shadow {
  border: 1px solid #f7f4f4;
  border-bottom: 0;
  &:hover {
    box-shadow: 0 10px 5px -7px rgba(0, 0, 0, 0.5) !important;
    transform: scale(1.01);
  }
}

.bg-light-blue {
  background-color: #badafb;
}