.contact {
  label {
    margin: .50rem;
  }
}

.contact-list {
  svg {
    margin: 0 0.5rem 0.3rem 0;
  }
}

h4 {
  margin-top: 8px;
}

.list-item {
  display: block;
  padding: 0 !important;
}

.blb {
  border-bottom: 1px solid $light-grey !important;
}

.rounded-circle {
  height: 5rem;
  width: 5rem;
  color: white;
  text-align: center;
  font-size: 3.4rem;
  background-color: #037aff;
}