html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.homepage {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .8)),
      url('https://static.pexels.com/photos/273011/pexels-photo-273011.jpeg') center / cover no-repeat fixed black;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      color: white;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}

.bg-transparent {
  background: transparent;
}